body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 2000;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: white;
}

/* Left Side */

div.left-side {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
}

img.hamburger-menu {
    width: 30px;
    cursor: pointer;
}

img.youtube-logo {
    width: 90px;
    cursor: pointer;
}

/* Center */
div.middle-side {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
    width: 600px;
}

div.input {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 1500px;
}

input.search-bar {
    max-width: 470px;
    width: 400px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid rgb(204, 204, 204);
    height: 24px;
}

img.search {
    height: 40px;
    width: 64px;
    border: 1px solid rgb(204, 204, 204);
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

input[type="text"] {
    max-width: 500px;
    padding: 0.5rem;
    font-size: 1rem;
}

div.voice {
    background-color: rgb(247, 247, 247);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;   
    align-items: center;
}

img.voice {
    width: 50px;
    height: 30px;
    cursor: pointer;
}

/* Right Side */

div.right-side {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
    margin-right: 50px;
}

div.right-side img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

img.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* Navbar */

nav {
    width: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    gap: 7px;
    margin-top: 30px;
    background-color: white;
}

div.nav-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 90px;
    height: 90px;
    margin-left: 0px;
}

div.nav-child:hover {
    border-right: 3px solid red;
    background-color: rgb(247, 247, 247);
}


nav img {
    display: block;
    margin: 0 auto;
}

img.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Main Content */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 150px;
    padding-top: 30px;
    background-color: rgb(247, 247, 247);
}


img.video-image {
    width: 500px;
    height: 300px;
    cursor: pointer;
    border-radius: 20px;
}

div.relative {
    position: relative;
    width: 480px;
}

p.time {
    background-color: black;
    color: white;
    bottom: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

div.description {
    display: flex;
    gap: 10px;
    width: 500px;
    font-size: 20px;
    align-items: center;
}

img.channel-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

p.title {
    width: 350px;
    font-size: 20px;
    font-weight: bold;
}

div.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: 80px;
    padding-bottom: 20px;
}